.mainDiv {
  min-height: calc(100vh - 73px);
  display: flex;
  justify-content: space-around;
  padding: 0 40px;
}
.sideTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text1 {
  font-size: 60px;
  font-weight: bold;
}
.text2 {
  color: #2f82ff;
}
.subText {
  font-weight: bold;
  font-size: 20px;
}
.subDiv {
  padding-top: 30px;
}
.buttonDiv {
  padding-top: 30px;
}
.button {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  background-color: #2f82ff;
  color: white;
  border-radius: 5px;
}
@media only screen and (max-width: 700px) {
  .mainDiv {
    display: flex;
    flex-direction: column;
  }
  .text1 {
    font-size: 40px;
    font-weight: bold;
  }
  .subText {
    font-weight: bold;
    font-size: 15px;
  }

  .image {
    height: 400px;
    width: 400px;
    align-self: center;
  }
  .sideTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
  }
}
