@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
.primaryColor {
  color: #2f82ff;
}
.div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  font-size: 50px;
  padding-top: 150px;
  padding-bottom: 20px;
  font-weight: 800;
}

.sub {
  width: 400px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
}
.buttonDiv {
  padding-top: 20px;
}
.shop {
  font-family: "Inter", sans-serif !important;
  padding: 15px 25px;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  background-color: #2f82ff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.gif {
  padding-top: 40px;
}
.sub1 {
  padding-top: 100px;
  font-size: 25px;
  font-weight: 600;
  width: 500px;
  text-align: center;
  padding-bottom: 50px;
}

.title1 {
  padding-top: 100px;
  font-size: 50px;
  text-align: center;
  padding-bottom: 50px;
  font-weight: 800;
}
.sub2 {
  font-size: 20px;
  font-weight: 400;
  width: 600px;
  text-align: center;
}
.supportRow {
  display: flex;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 60px;
  align-items: center;
}
.cardImg {
  border-radius: 10px;
}
.card {
  display: flex;
  height: 200px;
  width: 300px;
  flex-direction: column;
  align-items: center;
  border: solid 2px black;
  border-radius: 10px;
  transition: width 2s;
}
.cardTitle {
  font-weight: bold;
}
.card:hover {
  width: 400px;
}

.achivementTitle {
  font-weight: 700;
  font-size: 40px;
}
.achivementSub {
  padding-top: 20px;
  font-weight: 600;
  font-size: 30px;
}
.flipCard {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flipCardInner {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipCardFront {
  background-color: #2f82ff;
  color: black;
}

.flipCardBack {
  background-color: black;
  color: #2f82ff;
  transform: rotateY(180deg);
}
.cardSub {
  text-align: center;
  font-weight: 600;
  font-size: 19px;
  padding: 20px;
}
.icon {
  padding-top: 10px;
}
@media screen and (max-width: 1000px) {
  .title {
    font-size: 30px;
    text-align: center;
  }
  .sub1 {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .title1 {
    font-size: 30px;
  }
  .sub2 {
    width: 400px;
    font-size: 15px;
  }
  .supportRow {
    flex-direction: column;
  }
}
@media screen and (max-width: 1750px) {
  .supportRow {
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .sub {
    width: 350px;
  }
  .sub1 {
    font-size: 15px;
    width: 350px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .sub2 {
    width: 350px;
    font-size: 15px;
  }
  .gif {
    width: 350px;
  }
}
